@model HospitalityProject.Models.Booking

<h2>Booking Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Customer Name</dt>
        <dd class="col-sm-9">@Model.CustomerName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Model.PhoneNumber</dd>

        <dt class="col-sm-3">Room ID</dt>
        <dd class="col-sm-9">@Model.RoomId</dd>

        <dt class="col-sm-3">Check-In</dt>
        <dd class="col-sm-9">@Model.CheckInDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Check-Out</dt>
        <dd class="col-sm-9">@Model.CheckOutDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Total Price</dt>
        <dd class="col-sm-9">@Model.TotalPrice.ToString("C")</dd>
    </dl>
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
